@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.fondo {
  background: url(Imagenes/fondoInicio.png);
  font-family: 'Open Sans', 'sans-serif';
  font-size: 30px;
}
/* div surrounding login form */
#login {
  background-color: #eee;
  opacity: 1;
  height: 280px;
  width: 400px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

/* form header */
h1 {
  font-size: 32px;
  padding: 10px;
  margin: 0;
  color: #FFFFFF;
  background-color: #55acee;
  margin-bottom: 15px;
}

/* text fields */
input:not([type="button"]) {
  width: 300px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #acacac;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-size: 25px;
}

input:not([type="button"]):focus {
  color: #55acee;
  width: 370px;
  border: 1px solid #55acee;
  outline: none;
  font-size: 32px;
}

/* submit button */
input[type="button"] {
  font-size: 32px;
  color: #fff;
  background-color: #55acee;
  box-shadow: 0 5px 0 0 #3C93D5;
  border: none;
  padding: 10px;
  width: 400px;
  display: inline-block;
  position: relative;
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="button"]:active {
  box-shadow: 0 1px 0 0 #3C93D5;
  -webkit-transform: translate(0,5px);
  -moz-transform: translate(0,5px);
  transform: translate(0,5px);
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 20px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
hr{     
    color: brown;     
    width:80%;     
    border: solid; 
} 
#izquierda{
    float: left;
    width:25%; 
    border:1px solid #000000;
}
#derecha{
    float: right;
    width:15%;
    border:1px solid #000000;
}
#lienzo{
    border:1px solid #000000;
    padding: 0px;
    margin: auto;
    display: block;
    width: 60%;
    height: 90%;
    float: left;
}
#elementos{
    
    
}
#infousuario{
    
}
#colaboladores{
    
}
#chat{
    
    
}